/* BASES */
.root{


}






/* Ajout Élo */

/* Carte calculateur */
.card {
    border-radius: 1rem;
}

/* Zone résultat */
.result-box {
    background-color: #f1f3f5;
    border-radius: 0.75rem;
    padding: 1.25rem;
}

/* Prix */
#totalPrice {
    font-size: 1.6rem;
    font-weight: 700;
    color: #198754;
}





